.App1 {
  text-align: center;
  background-color: #87a2d6;
  border-radius: 2rem;
  width: 40%;
  height: 100%;
  margin-bottom:12mm;
}
.App2 {
  text-align: center;
  background-color: #9387d6;
  border-radius: 2rem;
  width: 40%;
  height: 8000%;
  margin-bottom:12mm;
}

.space {
  margin-top: 10mm;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
